/* Proprietà Generali */

body{
    font-family: 'Poppins', sans-serif;
}

#spotify-container{
    display: flex;
}

/* Aside Bar */

aside{
    width: 20%;
    height: calc(100vh - 80px);
    background-color: #140000;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

aside .icon-spotify{
    max-width: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

aside .logo-spotify{
    display: none;
}

aside .second-aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

aside .btn-primary{
    background-color: #140000;
    border: none;
    border-left: 3px solid #140000;
}

aside .btn{
    border-radius: 0;
}

aside .btn-primary:hover{
    background-color: #140000;
    border-left: 3px solid #2e8b57;
}

aside .third-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

aside .bi-arrow-down-circle{
    cursor: pointer;
}

aside .bi-person{
    cursor: pointer;
}

hr.solid {
    border-top: 1px solid #999;
    min-width: 90%;
}

aside span{
    display: none;
}


/* Main Content */

main{
    width: 80%;
    height: calc(100vh - 80px);
    background-color: #967117;
    overflow: auto;
    padding-bottom: 100px;
}

.container-main{
    max-width: 95%;
    margin: auto;
}


/* Intestazione */

header {
    height: 50px;
}

.navbar-toggler {
    border: none;
}

header .header-menu{
    display: none;
}

header .header-menu li{
    list-style-type: none;
    display: inline;
    margin-right: 20px;
    color: #c9c0bb;
    font-size: 14px;
    font-weight: 300;
}

header .header-menu li:hover{
    color: white;
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 2px solid #2e8b57;
}


/* Core Page */

main h1{
    color: white;
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.core-page-container{
    display: flex;
    flex-wrap: wrap;
}

.singer img{
    width: 140px;
    height: 140px;
    margin: 10px 10px;
    border-radius: 50%;
}

.singer p{
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
}


/* Footer */

footer {
    height: 80px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    width: 500px;
    background-color: #282828;
}


.footer-left img{
    margin: 20px 6px 20px 8px;
    max-width: 40px;
    max-height: 40px;

}

.footer-left i{
    color: white;
    font-size: 10px;
}

.footer-left span{
    display: none;
    font-size: 12px;
}



.footer-center {
    width: 800px;
    background-color: lightblue;
}

.footer-right {
    width: 200px;
    background-color: white;
}


@media screen and (min-width: 768px) {

    aside .icon-spotify{
        display: none;
    }

    aside .logo-spotify{
        display: block;
        max-width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    aside{
        display: flex;
        flex-direction: column;
    }

    aside .second-aside{
        width: calc(100% - 20px);
        align-items: flex-start;
        margin-left: 20px;
    }

    aside .third-side{
        width: calc(100% - 20px);
        align-items: flex-start;
        margin-left: 20px;
    }

    aside span{
        display: inline-block;
        font-size: 14px;
        font-weight: 300;
        margin-left: 5px;
        color: #999;
    }

}

@media screen and (min-width: 992px) {

    .container-main{
        max-width: 95%;
        margin: auto;
    }

    .navbar-toggler {
        display: none;
    }

    header .header-menu{
        display: block;
    }

    header .header-menu{
        display: flex;
        justify-content: center;
    }

    .footer-left span{
        display: block;
    }


}
